* {
	font-family: BlexMono Nerd Font;
	font-size: 12pt;
	 }

window#waybar {
	background: #2b3339;
  /* background: #181616; */
	opacity: 1;
}
#window, #memory,
#temperature,
#cpu,
#pulseaudio,
#clock,
#tray {
	padding-left: 2rem;
	padding-right: 2rem;
	margin: 0.5rem;
  background: #343d45;
  color: #d3c6aa;
}


#workspaces {
	margin: 0.5rem;
}

#workspaces button.focused {
	/* background: #d3c6aa; */
  background: #d3c6aa;
  /* color: #181616; */
	color: #2b3339;
}
